[submodule "mesto-react-frontend"]
	path = mesto-react-frontend
	url = https://github.com/TimAbuev/mesto-react-frontend
[submodule "mesto-express"]
	path = mesto-express
	url = https://github.com/TimAbuev/mesto-express
[submodule "mesto-react-backend-frontend"]
	path = mesto-react-backend-frontend
	url = https://github.com/TimAbuev/mesto-react-backend-frontend
